@{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>CV Thom Vos</title>
        <link rel="stylesheet" href="css/index-style.css">
        <script defer src="js/gdpr.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>

    <body>
        <div class="container-gdpr">

            <div class="content-gdpr-not-chosen">
                <h1>Om verder te gaan moet u de cookies accepteren</h1>
            </div>

            <div class="content-gdpr-reject">
                <h1>Door uw keuze heeft u geen toegang tot de pagina</h1>
            </div>

            <section class="gdpr-consent hide">

                <div class="gdpr-consent__description">
                    <p>
                        Deze website gebruikt cookies.
                        We gebruiken cookies om content te personaliseren, voor social media en het analyseren
                        van verkeer op de website, advertenties.
                    </p>
                </div>

                <div class="gdpr-consent__choice">
                    <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
                    <button class="gdpr-consent__button--reject">Nee, misschien later</button>
                </div>

            </section>

            <div class="content-gdpr-accept hide">

                <h1 id="content-gpdr-consent-status" class="hide"></h1>

                <div class="page">
                    <section class="personalia">

                        <img class="person-logo" src="images/person-pasfoto.jpg">
                        <h1 class="person-name">Thom Vos</h1>

                        <div class="profile-content__category--hidden-mobile">
                            <h1 class="profile-content__category-title">Persoonsgegevens</h1>
                            <div class="personalia-charactaristics__list">
                                <li>Geboortedatum: 26-10-2002</li>
                                <li>Berkelstraat 34</li>
                                <li>8303JR EMMELOORD</li>
                            </div>
                        </div>

                        <div class="profile-content__category--hidden-mobile">
                            <h1 class="profile-content__category-title">Eigenschappen</h1>
                            <li>Doorzettingsvermorgen</li>
                            <li>Concentratie</li>
                            <li>Focus</li>
                        </div>

                        <div class="profile-content__category--hidden-mobile">
                            <h1 class="profile-content__category-title">Hobby's</h1>
                            <li>Voetbal</li>
                            <li>Gamen</li>
                        </div>

                        <div class="profile-content__category--hidden-mobile">
                            <h1 class="profile-content__category-title">Contactgegevens</h1>
                            <div class="personalia-charactaristics__list">
                                <li>E-mail: thomvos@home.nl</li>
                                <li>Telefoon: 06-36099285</li>
                            </div>
                        </div>

                    </section>

                    <section class="profile">

                        <section class="profile-content">

                            <div class="profile-content__category--hidden-mobile">
                                <h3 class="profile-content__category-title">Profiel</h3>
                                <hr>
                            </div>

                            <div class="profile-content__element--hidden-mobile">
                                <div class="profile-content__element-header">
                                </div>
                                <p class="profile-content__description">
                                    Als de geïntreseerde student die ik ben is op zoek naar een nieuwe uitdaging na mijn
                                    opleiding.
                                    Met een hobby als voetbal weet ik hoe het is om in een team te werken en om in elke
                                    situatie snel belangrijke beslissingen moet maken.
                                <p>
                            </div>


                            <div class="profile-content__category">
                                <h3 class="profile-content__category-title">Opleidingen</h3>
                                <hr>
                            </div>

                            <div class="profile-content__element">
                                <div class="profile-content__element-header">
                                    <h4 class="profile-content__title">HBO-ICT</h4>
                                    <p class="profile-content__period">aug 2021 - heden</p>
                                </div>
                                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
                            </div>

                            <div class="profile-content__element">
                                <div class="profile-content__element-header">
                                    <h4 class="profile-content__title">HAVO</h4>
                                    <p class="profile-content__period">aug 2015 - mei 2021</p>
                                </div>
                                <p class="profile-content__institute">Zuyderzee College, Emmeloord</p>
                            </div>

                            <div class="profile-content__category">
                                <h3 class="profile-content__category-title">Werkervaring</h3>
                                <hr>
                            </div>

                            <div class="profile-content__element">
                                <div class="profile-content__element-header">
                                    <h4 class="profile-content__title">Vulploegleider</h4>
                                    <p class="profile-content__period">dec 2022 - heden</p>
                                </div>
                                <p class="profile-content__institute">Jumbo, Emmeloord</p>
                            </div>

                            <div class="profile-content__element">
                                <div class="profile-content__element-header">
                                    <h4 class="profile-content__title">Vakkenvuller</h4>
                                    <p class="profile-content__period">nov 2020 - nov 2022</p>
                                </div>
                                <p class="profile-content__institute">Jumbo, Emmeloord</p>
                            </div>
                        </section>

                    </section>
                </div>

                @*            <footer>
            <button name="Bericht" type="submit" id="Contact-knop">Stuur bericht</button>

            <script type="text/javascript">
            document.getElementById("Contact-knop").onclick = function () {
            location.href = "/Uitwerkingen profiel- en contactpagina/contact.html";
            };
            </script>
            </footer>*@
            </div>
        </div>

    </body>

    </html>
}